{% extends 'base.html.twig' %}

{% block title %}
	Connexion | BO-TK
{% endblock %}

{% block body %}
	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	<br>
	<button type="submit" class="btn btn-success">Je me connecte
	</button>

	{{ form_end(formView) }}
{% endblock %}
