{% extends 'base.html.twig' %}

{% block title %}Back-Office | Tamm-Kreiz
{% endblock %}

{% block body %}

	<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
		<div class="wrapper">
			<nav id="sidebar" class="sidebar">
				<div class="sidebar-content js-simplebar">
					<a class="sidebar-brand" href="index.html">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewbox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
							<path d="M19.4,4.1l-9-4C10.1,0,9.9,0,9.6,0.1l-9,4C0.2,4.2,0,4.6,0,5s0.2,0.8,0.6,0.9l9,4C9.7,10,9.9,10,10,10s0.3,0,0.4-0.1l9-4
																								              C19.8,5.8,20,5.4,20,5S19.8,4.2,19.4,4.1z"/>
							<path d="M10,15c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
																								              c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,15,10.1,15,10,15z"/>
							<path d="M10,20c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
																					              c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,20,10.1,20,10,20z"/>
						</svg>

						<span class="align-middle me-3">AppStack</span>
					</a>

					<ul class="sidebar-nav">
						<li class="sidebar-header">
							Pages
						</li>
						<li class="sidebar-item active">
							<a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
								<i class="align-middle" data-feather="sliders"></i>
								<span class="align-middle">Dashboards</span>
								<span class="badge badge-sidebar-primary">5</span>
							</a>
							<ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
								<li class="sidebar-item active">
									<a class="sidebar-link" href="dashboard-default.html">Default</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="dashboard-analytics.html">Analytics</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="dashboard-saas.html">SaaS</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="dashboard-social.html">Social</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="dashboard-crypto.html">Crypto</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="layout"></i>
								<span class="align-middle">Pages</span>
							</a>
							<ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-profile.html">Profile</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-settings.html">Settings</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-clients.html">Clients</a>
								</li>
								<li class="sidebar-item">
									<a data-bs-target="#projects" data-bs-toggle="collapse" class="sidebar-link collapsed">
										Projects
									</a>
									<ul id="projects" class="sidebar-dropdown list-unstyled collapse ">
										<li class="sidebar-item">
											<a class="sidebar-link" href="pages-projects-list.html">List</a>
										</li>
										<li class="sidebar-item">
											<a class="sidebar-link" href="pages-projects-detail.html">Detail
												<span class="badge badge-sidebar-primary">New</span>
											</a>
										</li>
									</ul>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-invoice.html">Invoice</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-pricing.html">Pricing</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-tasks.html">Tasks</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-chat.html">Chat
										<span class="badge badge-sidebar-primary">New</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-blank.html">Blank Page</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="users"></i>
								<span class="align-middle">Auth</span>
								<span class="badge badge-sidebar-secondary">Special</span>
							</a>
							<ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-sign-in.html">Sign In</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-sign-up.html">Sign Up</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-reset-password.html">Reset Password</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-404.html">404 Page</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-500.html">500 Page</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#documentation" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="book-open"></i>
								<span class="align-middle">Documentation</span>
							</a>
							<ul id="documentation" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="docs-introduction.html">Introduction</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="docs-installation.html">Getting Started</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="docs-customization.html">Customization</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="docs-plugins.html">Plugins</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="docs-changelog.html">Changelog</a>
								</li>
							</ul>
						</li>

						<li class="sidebar-header">
							Tools & Components
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#ui" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="grid"></i>
								<span class="align-middle">UI Elements</span>
							</a>
							<ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-alerts.html">Alerts</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-buttons.html">Buttons</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-cards.html">Cards</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-carousel.html">Carousel</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-embed-video.html">Embed Video</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-general.html">General
										<span class="badge badge-sidebar-primary">10+</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-grid.html">Grid</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-modals.html">Modals</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-offcanvas.html">Offcanvas</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-placeholders.html">Placeholders</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-tabs.html">Tabs</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="ui-typography.html">Typography</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#icons" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="heart"></i>
								<span class="align-middle">Icons</span>
								<span class="badge badge-sidebar-primary">1500+</span>
							</a>
							<ul id="icons" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="icons-feather.html">Feather</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="icons-font-awesome.html">Font Awesome</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#forms" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="check-square"></i>
								<span class="align-middle">Forms</span>
							</a>
							<ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="forms-layouts.html">Layouts</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="forms-basic-inputs.html">Basic Inputs</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="forms-input-groups.html">Input Groups</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="forms-floating-labels.html">Floating Labels</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="tables-bootstrap.html">
								<i class="align-middle" data-feather="list"></i>
								<span class="align-middle">Tables</span>
							</a>
						</li>

						<li class="sidebar-header">
							Plugins & Addons
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#form-plugins" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="check-square"></i>
								<span class="align-middle">Form Plugins</span>
							</a>
							<ul id="form-plugins" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="forms-advanced-inputs.html">Advanced Inputs</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="forms-editors.html">Editors</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="forms-validation.html">Validation</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="forms-wizard.html">Wizard</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#datatables" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="list"></i>
								<span class="align-middle">DataTables</span>
							</a>
							<ul id="datatables" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="tables-datatables-responsive.html">Responsive Table</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="tables-datatables-buttons.html">Table with Buttons</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="tables-datatables-column-search.html">Column Search</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="tables-datatables-fixed-header.html">Fixed Header</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="tables-datatables-multi.html">Multi Selection</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="tables-datatables-ajax.html">Ajax Sourced Data</a>
								</li>
							</ul>
						</li>

						<li class="sidebar-item">
							<a data-bs-target="#charts" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="pie-chart"></i>
								<span class="align-middle">Charts</span>
								<span class="badge badge-sidebar-primary">New</span>
							</a>
							<ul id="charts" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="charts-chartjs.html">Chart.js</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="charts-apexcharts.html">ApexCharts
										<span class="badge badge-sidebar-primary">New</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="notifications.html">
								<i class="align-middle" data-feather="bell"></i>
								<span class="align-middle">Notifications</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#maps" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="map-pin"></i>
								<span class="align-middle">Maps</span>
							</a>
							<ul id="maps" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a class="sidebar-link" href="maps-google.html">Google Maps</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="maps-vector.html">Vector Maps</a>
								</li>
							</ul>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="calendar.html">
								<i class="align-middle" data-feather="calendar"></i>
								<span class="align-middle">Calendar</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a data-bs-target="#multi" data-bs-toggle="collapse" class="sidebar-link collapsed">
								<i class="align-middle" data-feather="share-2"></i>
								<span class="align-middle">Multi Level</span>
							</a>
							<ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
								<li class="sidebar-item">
									<a data-bs-target="#multi-2" data-bs-toggle="collapse" class="sidebar-link collapsed">
										Two Levels
									</a>
									<ul id="multi-2" class="sidebar-dropdown list-unstyled collapse">
										<li class="sidebar-item">
											<a class="sidebar-link" data-bs-target="#">Item 1</a>
											<a class="sidebar-link" data-bs-target="#">Item 2</a>
										</li>
									</ul>
								</li>
								<li class="sidebar-item">
									<a data-bs-target="#multi-3" data-bs-toggle="collapse" class="sidebar-link collapsed">
										Three Levels
									</a>
									<ul id="multi-3" class="sidebar-dropdown list-unstyled collapse">
										<li class="sidebar-item">
											<a data-bs-target="#multi-3-1" data-bs-toggle="collapse" class="sidebar-link collapsed">
												Item 1
											</a>
											<ul id="multi-3-1" class="sidebar-dropdown list-unstyled collapse">
												<li class="sidebar-item">
													<a class="sidebar-link" data-bs-target="#">Item 1</a>
													<a class="sidebar-link" data-bs-target="#">Item 2</a>
												</li>
											</ul>
										</li>
										<li class="sidebar-item">
											<a class="sidebar-link" data-bs-target="#">Item 2</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>

					<div class="sidebar-cta">
						<div class="sidebar-cta-content">
							<strong class="d-inline-block mb-2">Monthly Sales Report</strong>
							<div class="mb-3 text-sm">
								Your monthly sales report is ready for download!
							</div>

							<div class="d-grid">
								<a href="https://themes.getbootstrap.com/product/appstack-responsive-admin-template/" class="btn btn-primary" target="_blank">Download</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<div class="main">
				<nav class="navbar navbar-expand navbar-light navbar-bg">
					<a class="sidebar-toggle">
						<i class="hamburger align-self-center"></i>
					</a>

					<form class="d-none d-sm-inline-block">
						<div class="input-group input-group-navbar">
							<input type="text" class="form-control" placeholder="Search projects…" aria-label="Search">
							<button class="btn" type="button">
								<i class="align-middle" data-feather="search"></i>
							</button>
						</div>
					</form>

					<ul class="navbar-nav">
						<li class="nav-item px-2 dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Mega menu
							</a>
							<div class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="servicesDropdown">
								<div class="d-md-flex align-items-start justify-content-start">
									<div class="dropdown-mega-list">
										<div class="dropdown-header">UI Elements</div>
										<a class="dropdown-item" href="#">Alerts</a>
										<a class="dropdown-item" href="#">Buttons</a>
										<a class="dropdown-item" href="#">Cards</a>
										<a class="dropdown-item" href="#">Carousel</a>
										<a class="dropdown-item" href="#">General</a>
										<a class="dropdown-item" href="#">Grid</a>
										<a class="dropdown-item" href="#">Modals</a>
										<a class="dropdown-item" href="#">Tabs</a>
										<a class="dropdown-item" href="#">Typography</a>
									</div>
									<div class="dropdown-mega-list">
										<div class="dropdown-header">Forms</div>
										<a class="dropdown-item" href="#">Layouts</a>
										<a class="dropdown-item" href="#">Basic Inputs</a>
										<a class="dropdown-item" href="#">Input Groups</a>
										<a class="dropdown-item" href="#">Advanced Inputs</a>
										<a class="dropdown-item" href="#">Editors</a>
										<a class="dropdown-item" href="#">Validation</a>
										<a class="dropdown-item" href="#">Wizard</a>
									</div>
									<div class="dropdown-mega-list">
										<div class="dropdown-header">Tables</div>
										<a class="dropdown-item" href="#">Basic Tables</a>
										<a class="dropdown-item" href="#">Responsive Table</a>
										<a class="dropdown-item" href="#">Table with Buttons</a>
										<a class="dropdown-item" href="#">Column Search</a>
										<a class="dropdown-item" href="#">Muulti Selection</a>
										<a class="dropdown-item" href="#">Ajax Sourced Data</a>
									</div>
								</div>
							</div>
						</li>
					</ul>

					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="message-circle"></i>
										<span class="indicator">4</span>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
									<div class="dropdown-menu-header">
										<div class="position-relative">
											4 New Messages
										</div>
									</div>
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Ashley Briggs">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Ashley Briggs</div>
													<div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
													<div class="text-muted small mt-1">15m ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="Carl Jenkins">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Carl Jenkins</div>
													<div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
													<div class="text-muted small mt-1">2h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-4.jpg" class="avatar img-fluid rounded-circle" alt="Stacie Hall">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Stacie Hall</div>
													<div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
													<div class="text-muted small mt-1">4h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-3.jpg" class="avatar img-fluid rounded-circle" alt="Bertha Martin">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Bertha Martin</div>
													<div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
													<div class="text-muted small mt-1">5h ago</div>
												</div>
											</div>
										</a>
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Show all messages</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="bell-off"></i>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
									<div class="dropdown-menu-header">
										4 New Notifications
									</div>
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<i class="text-danger" data-feather="alert-circle"></i>
												</div>
												<div class="col-10">
													<div class="text-dark">Update completed</div>
													<div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
													<div class="text-muted small mt-1">2h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<i class="text-warning" data-feather="bell"></i>
												</div>
												<div class="col-10">
													<div class="text-dark">Lorem ipsum</div>
													<div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>
													<div class="text-muted small mt-1">6h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<i class="text-primary" data-feather="home"></i>
												</div>
												<div class="col-10">
													<div class="text-dark">Login from 192.186.1.1</div>
													<div class="text-muted small mt-1">8h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<i class="text-success" data-feather="user-plus"></i>
												</div>
												<div class="col-10">
													<div class="text-dark">New connection</div>
													<div class="text-muted small mt-1">Anna accepted your request.</div>
													<div class="text-muted small mt-1">12h ago</div>
												</div>
											</div>
										</a>
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Show all notifications</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown">
									<img src="img/flags/us.png" alt="English"/>
								</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
									<a class="dropdown-item" href="#">
										<img src="img/flags/us.png" alt="English" width="20" class="align-middle me-1"/>
										<span class="align-middle">English</span>
									</a>
									<a class="dropdown-item" href="#">
										<img src="img/flags/es.png" alt="Spanish" width="20" class="align-middle me-1"/>
										<span class="align-middle">Spanish</span>
									</a>
									<a class="dropdown-item" href="#">
										<img src="img/flags/de.png" alt="German" width="20" class="align-middle me-1"/>
										<span class="align-middle">German</span>
									</a>
									<a class="dropdown-item" href="#">
										<img src="img/flags/nl.png" alt="Dutch" width="20" class="align-middle me-1"/>
										<span class="align-middle">Dutch</span>
									</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
									<i class="align-middle" data-feather="settings"></i>
								</a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
									<img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded-circle me-1" alt="Chris Wood"/>
									<span class="text-dark">Chris Wood</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="pages-profile.html">
										<i class="align-middle me-1" data-feather="user"></i>
										Profile</a>
									<a class="dropdown-item" href="#">
										<i class="align-middle me-1" data-feather="pie-chart"></i>
										Analytics</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="pages-settings.html">Settings & Privacy</a>
									<a class="dropdown-item" href="#">Help</a>
									<a class="dropdown-item" href="#">Sign out</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>

				<main class="content">
					<div class="container-fluid p-0">

						<div class="row mb-2 mb-xl-3">
							<div class="col-auto d-none d-sm-block">
								<h3>Dashboard</h3>
							</div>

							<div class="col-auto ms-auto text-end mt-n1">

								<div class="dropdown me-2 d-inline-block">
									<a class="btn btn-light bg-white shadow-sm dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-display="static">
										<i class="align-middle mt-n1" data-feather="calendar"></i>
										Today
									</a>

									<div class="dropdown-menu dropdown-menu-end">
										<h6 class="dropdown-header">Settings</h6>
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Separated link</a>
									</div>
								</div>

								<button class="btn btn-primary shadow-sm">
									<i class="align-middle" data-feather="filter">&nbsp;</i>
								</button>
								<button class="btn btn-primary shadow-sm">
									<i class="align-middle" data-feather="refresh-cw">&nbsp;</i>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-6 col-xxl-3 d-flex">
								<div class="card illustration flex-fill">
									<div class="card-body p-0 d-flex flex-fill">
										<div class="row g-0 w-100">
											<div class="col-6">
												<div class="illustration-text p-3 m-1">
													<h4 class="illustration-text">Welcome Back, Chris!</h4>
													<p class="mb-0">AppStack Dashboard</p>
												</div>
											</div>
											<div class="col-6 align-self-end text-end">
												<img src="img/illustrations/customer-support.png" alt="Customer Support" class="img-fluid illustration-img">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-xxl-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body py-4">
										<div class="d-flex align-items-start">
											<div class="flex-grow-1">
												<h3 class="mb-2">$ 24.300</h3>
												<p class="mb-2">Total Earnings</p>
												<div class="mb-0">
													<span class="badge badge-soft-success me-2">
														+5.35%
													</span>
													<span class="text-muted">Since last week</span>
												</div>
											</div>
											<div class="d-inline-block ms-3">
												<div class="stat">
													<i class="align-middle text-success" data-feather="dollar-sign"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-xxl-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body py-4">
										<div class="d-flex align-items-start">
											<div class="flex-grow-1">
												<h3 class="mb-2">43</h3>
												<p class="mb-2">Pending Orders</p>
												<div class="mb-0">
													<span class="badge badge-soft-danger me-2">
														-4.25%
													</span>
													<span class="text-muted">Since last week</span>
												</div>
											</div>
											<div class="d-inline-block ms-3">
												<div class="stat">
													<i class="align-middle text-danger" data-feather="shopping-bag"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-xxl-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body py-4">
										<div class="d-flex align-items-start">
											<div class="flex-grow-1">
												<h3 class="mb-2">$ 18.700</h3>
												<p class="mb-2">Total Revenue</p>
												<div class="mb-0">
													<span class="badge badge-soft-success me-2">
														+8.65%
													</span>
													<span class="text-muted">Since last week</span>
												</div>
											</div>
											<div class="d-inline-block ms-3">
												<div class="stat">
													<i class="align-middle text-info" data-feather="dollar-sign"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-12 col-lg-8 d-flex">
								<div class="card flex-fill w-100">
									<div class="card-header">
										<div class="card-actions float-end">
											<div class="dropdown position-relative">
												<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
													<i class="align-middle" data-feather="more-horizontal"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>
										<h5 class="card-title mb-0">Sales / Revenue</h5>
									</div>
									<div class="card-body d-flex w-100">
										<div class="align-self-center chart chart-lg">
											<canvas id="chartjs-dashboard-bar"></canvas>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4 d-flex">
								<div class="card flex-fill w-100">
									<div class="card-header">
										<span class="badge bg-info float-end">Today</span>
										<h5 class="card-title mb-0">Daily feed</h5>
									</div>
									<div class="card-body">
										<div class="d-flex align-items-start">
											<img src="img/avatars/avatar-5.jpg" width="36" height="36" class="rounded-circle me-2" alt="Ashley Briggs">
											<div class="flex-grow-1">
												<small class="float-end">5m ago</small>
												<strong>Ashley Briggs</strong>
												started following
												<strong>Stacie Hall</strong><br/>
												<small class="text-muted">Today 7:51 pm</small><br/>

											</div>
										</div>

										<hr/>
										<div class="d-flex align-items-start">
											<img src="img/avatars/avatar.jpg" width="36" height="36" class="rounded-circle me-2" alt="Chris Wood">
											<div class="flex-grow-1">
												<small class="float-end">30m ago</small>
												<strong>Chris Wood</strong>
												posted something on
												<strong>Stacie Hall</strong>'s timeline<br/>
												<small class="text-muted">Today 7:21 pm</small>

												<div class="border text-sm text-muted p-2 mt-1">
													Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing...
												</div>
											</div>
										</div>

										<hr/>
										<div class="d-flex align-items-start">
											<img src="img/avatars/avatar-4.jpg" width="36" height="36" class="rounded-circle me-2" alt="Stacie Hall">
											<div class="flex-grow-1">
												<small class="float-end">1h ago</small>
												<strong>Stacie Hall</strong>
												posted a new blog<br/>

												<small class="text-muted">Today 6:35 pm</small>
											</div>
										</div>

										<hr/>
										<div class="d-grid">
											<a href="#" class="btn btn-primary">Load more</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-12 col-lg-6 col-xl-4 d-flex">
								<div class="card flex-fill">
									<div class="card-header">
										<div class="card-actions float-end">
											<div class="dropdown position-relative">
												<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
													<i class="align-middle" data-feather="more-horizontal"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>
										<h5 class="card-title mb-0">Calendar</h5>
									</div>
									<div class="card-body d-flex">
										<div class="align-self-center w-100">
											<div class="chart">
												<div id="datetimepicker-dashboard"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-xl-4 d-none d-xl-flex">
								<div class="card flex-fill w-100">
									<div class="card-header">
										<div class="card-actions float-end">
											<div class="dropdown position-relative">
												<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
													<i class="align-middle" data-feather="more-horizontal"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>
										<h5 class="card-title mb-0">Weekly sales</h5>
									</div>
									<div class="card-body d-flex">
										<div class="align-self-center w-100">
											<div class="py-3">
												<div class="chart chart-xs">
													<canvas id="chartjs-dashboard-pie"></canvas>
												</div>
											</div>

											<table class="table mb-0">
												<thead>
													<tr>
														<th>Source</th>
														<th class="text-end">Revenue</th>
														<th class="text-end">Value</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<i class="fas fa-square-full text-primary"></i>
															Direct</td>
														<td class="text-end">$ 2602</td>
														<td class="text-end text-success">+43%</td>
													</tr>
													<tr>
														<td>
															<i class="fas fa-square-full text-warning"></i>
															Affiliate</td>
														<td class="text-end">$ 1253</td>
														<td class="text-end text-success">+13%</td>
													</tr>
													<tr>
														<td>
															<i class="fas fa-square-full text-danger"></i>
															E-mail</td>
														<td class="text-end">$ 541</td>
														<td class="text-end text-success">+24%</td>
													</tr>
													<tr>
														<td>
															<i class="fas fa-square-full text-dark"></i>
															Other</td>
														<td class="text-end">$ 1465</td>
														<td class="text-end text-success">+11%</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6 col-xl-4 d-flex">
								<div class="card flex-fill w-100">
									<div class="card-header">
										<div class="card-actions float-end">
											<div class="dropdown position-relative">
												<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
													<i class="align-middle" data-feather="more-horizontal"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>
										<h5 class="card-title mb-0">Appointments</h5>
									</div>
									<div class="card-body">
										<ul class="timeline">
											<li class="timeline-item">
												<strong>Chat with Carl and Ashley</strong>
												<span class="float-end text-muted text-sm">30m ago</span>
												<p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris...</p>
											</li>
											<li class="timeline-item">
												<strong>The big launch</strong>
												<span class="float-end text-muted text-sm">2h ago</span>
												<p>Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum
																																																			nunc...</p>
											</li>
											<li class="timeline-item">
												<strong>Coffee break</strong>
												<span class="float-end text-muted text-sm">3h ago</span>
												<p>Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada...</p>
											</li>
											<li class="timeline-item">
												<strong>Chat with team</strong>
												<span class="float-end text-muted text-sm">30m ago</span>
												<p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum...</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="card flex-fill">
							<div class="card-header">
								<div class="card-actions float-end">
									<div class="dropdown position-relative">
										<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
											<i class="align-middle" data-feather="more-horizontal"></i>
										</a>

										<div class="dropdown-menu dropdown-menu-end">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
								</div>
								<h5 class="card-title mb-0">Latest Projects</h5>
							</div>
							<table id="datatables-dashboard-projects" class="table table-striped my-0">
								<thead>
									<tr>
										<th>Name</th>
										<th class="d-none d-xl-table-cell">Start Date</th>
										<th class="d-none d-xl-table-cell">End Date</th>
										<th>Status</th>
										<th class="d-none d-md-table-cell">Assignee</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Project Apollo</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-success">Done</span>
										</td>
										<td class="d-none d-md-table-cell">Carl Jenkins</td>
									</tr>
									<tr>
										<td>Project Fireball</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-danger">Cancelled</span>
										</td>
										<td class="d-none d-md-table-cell">Bertha Martin</td>
									</tr>
									<tr>
										<td>Project Hades</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-success">Done</span>
										</td>
										<td class="d-none d-md-table-cell">Stacie Hall</td>
									</tr>
									<tr>
										<td>Project Nitro</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-warning">In progress</span>
										</td>
										<td class="d-none d-md-table-cell">Carl Jenkins</td>
									</tr>
									<tr>
										<td>Project Phoenix</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-success">Done</span>
										</td>
										<td class="d-none d-md-table-cell">Bertha Martin</td>
									</tr>
									<tr>
										<td>Project X</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-success">Done</span>
										</td>
										<td class="d-none d-md-table-cell">Stacie Hall</td>
									</tr>
									<tr>
										<td>Project Romeo</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-success">Done</span>
										</td>
										<td class="d-none d-md-table-cell">Ashley Briggs</td>
									</tr>
									<tr>
										<td>Project Wombat</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-warning">In progress</span>
										</td>
										<td class="d-none d-md-table-cell">Bertha Martin</td>
									</tr>
									<tr>
										<td>Project Zircon</td>
										<td class="d-none d-xl-table-cell">01/01/2021</td>
										<td class="d-none d-xl-table-cell">31/06/2021</td>
										<td>
											<span class="badge bg-danger">Cancelled</span>
										</td>
										<td class="d-none d-md-table-cell">Stacie Hall</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</main>

				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-muted">
							<div class="col-6 text-start">
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="text-muted" href="#">Support</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="#">Help Center</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="#">Privacy</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="#">Terms of Service</a>
									</li>
								</ul>
							</div>
							<div class="col-6 text-end">
								<p class="mb-0">
									&copy; 2021 -
									<a href="index.html" class="text-muted">AppStack</a>
								</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>

		<script src="js/app.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () { // Bar chart
new Chart(document.getElementById("chartjs-dashboard-bar"), {
type: "bar",
data: {
labels: [
"Jan",
"Feb",
"Mar",
"Apr",
"May",
"Jun",
"Jul",
"Aug",
"Sep",
"Oct",
"Nov",
"Dec"
],
datasets: [
{
label: "Last year",
backgroundColor: window.theme.primary,
borderColor: window.theme.primary,
hoverBackgroundColor: window.theme.primary,
hoverBorderColor: window.theme.primary,
data: [
54,
67,
41,
55,
62,
45,
55,
73,
60,
76,
48,
79
],
barPercentage: .325,
categoryPercentage: .5
}, {
label: "This year",
backgroundColor: window.theme["primary-light"],
borderColor: window.theme["primary-light"],
hoverBackgroundColor: window.theme["primary-light"],
hoverBorderColor: window.theme["primary-light"],
data: [
69,
66,
24,
48,
52,
51,
44,
53,
62,
79,
51,
68
],
barPercentage: .325,
categoryPercentage: .5
}
]
},
options: {
maintainAspectRatio: false,
cornerRadius: 15,
legend: {
display: false
},
scales: {
yAxes: [
{
gridLines: {
display: false
},
ticks: {
stepSize: 20
},
stacked: true
}
],
xAxes: [
{
gridLines: {
color: "transparent"
},
stacked: true
}
]
}
}
});
});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
$("#datetimepicker-dashboard").datetimepicker({inline: true, sideBySide: false, format: "L"});
});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () { // Pie chart
new Chart(document.getElementById("chartjs-dashboard-pie"), {
type: "pie",
data: {
labels: [
"Direct", "Affiliate", "E-mail", "Other"
],
datasets: [
{
data: [
2602, 1253, 541, 1465
],
backgroundColor: [
window.theme.primary, window.theme.warning, window.theme.danger, "#E8EAED"
],
borderWidth: 5,
borderColor: window.theme.white
}
]
},
options: {
responsive: !window.MSInputMethodContext,
maintainAspectRatio: false,
cutoutPercentage: 70,
legend: {
display: false
}
}
});
});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
$("#datatables-dashboard-projects").DataTable({pageLength: 6, lengthChange: false, bFilter: false, autoWidth: false});
});
		</script>

	</body>

{% endblock %}
